
body{
    background-color: #E5E5E5;
    font-family:  Roboto;
}
.navbar{
    background-color: #252525;
    border-radius: 30px;
    
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
    
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: #E5E5E5;
}
.navbar li a:hover{
    color: dimgrey;
}
.search{
    float: right;
    color: #E5E5E5;
    padding: 12px 40px;
    
}
.navbar input{
    border: 2px solid #252525;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}
#but:hover{
    color: #E5E5E5;
    background-color: #252525;
} 
.image{
    padding: 0 200px;
}
.image img{
    float: left ;
}
.image input{
    background-color: #E5E5E5;
    border-radius: 6px;
}

